<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style2.css" type = "text/css" />
    <title>Personal WebSite</title>
  </head>
  <body>
<div class="box">
  <img src="https://images.immediate.co.uk/production/volatile/sites/30/2021/03/French-fries-b9e3e0c.jpg?quality=90&resize=556,505" alt="" class="box-img">
  <h1>
Friesincoming</h1>
<h5>
  HTML & Python & Arduino</h5>
<ul>
  <li>
    💗
  </li>
  <li>
     Gaming 
  </li>
  <li>
    Coding
  </li>
  <li>
    Learning new topics
  </li>
</ul>
<ul>
<li><a href="https://www.instagram.com/fi_5750/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
<li><a href="https://www.youtube.com/channel/UCbU7lHk0guaMp0ABy9E-Gpg"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
<li><a href="https://steamcommunity.com/profiles/76561198391157964/"><i class="fab fa-steam" aria-hidden="true"></i></a></li>
</ul>
<div>
  <form style="text-align: center;">
  <button class="btn"><a href="../templates/index3.html">NEXT</a></button>
  </form>
</div>
</div>
</body> 