<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style3.css" type = "text/css" />
    <title>Personal WebSite</title>
  </head>
  <body>
<div class="box">
    <h1>
        About Me:
    </h1>
    <h5>
        congratulation you found my webpage I am quite suprised.<br/>
            Anyway this is one of my personal website I made by myself from scratch using python and html.<br/>
            I also created it using my own personal server soo that means no fee to pay :) I had a lot of fun 
            <br/> doing this project.Thanks for checking by my website BYE: ).
    </h5>
</div>
</div>
</body> 